#Valider_personnaliser_visite{
    text-align: center;
    position: absolute;
    margin:0 auto;
    display: flex;
    align-content: center;
    width:50%;
}

.contenu-card {
     display: flex;
     flex-flow: column;
     line-height: 10px
 }

 .Atelier-title {
     font-size: 16px;
 }
  .Atelier-emplacem {
      font-size: 10px;
      opacity: 0.5;
  }

   .Atelier-descrip {
       font-size: 10px;
   }
