<ion-header>
  <ion-toolbar>
    <ion-title>Personnaliser la visite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Salle TD4</ion-card-subtitle>
      <ion-card-title>Atelier 1 : Intelligence artificielle</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Description : L’intelligence artificielle est un ensemble des théories
      et des techniques développant des programmes informatiques simulant
      certains traits de l'intelligence humaine. Dans cette atelier vous aurez
      l’opportunité de voir les différents projets réalisés par les étudiants
      des différents niveaux sur l’intelligence artificielle.
    </ion-card-content>

    <ion-button>Ajouter à la visite</ion-button>

  </ion-card>



  

  <ion-card>
    <ion-item href="#" class="ion-activated">

      <ion-label>Atelier 1</ion-label>
      <ion-button fill="outline" slot="end">
        Supprimer
      </ion-button>
      <br>
      <h6>
        1er étage
      </h6>
      <br>
      <p>
        Présentation des projets de réalité virtuelle
      </p>



    </ion-item>

    <ion-item href="#" class="ion-activated">

    <ion-label>Atelier 2</ion-label>
    <ion-button fill="outline" slot="end">
      Supprimer
    </ion-button>
    <br>
    <h6>
      Rez-de-chaussée
    </h6>
    <br>
    <p>
      Présentation de l’école et du protocole d’admission
    </p>

  </ion-item>

    <ion-item href="#" class="ion-activated">

      <ion-label>Atelier 4</ion-label>
      <ion-button fill="outline" slot="end">
        Supprimer
      </ion-button>
      <br>
      <h6>
        1er étage
      </h6>
      <br>
      <p>
        Présentation des projets de deuxième année      </p>

    </ion-item>
  </ion-card>

  <ion-button>Valider</ion-button>

</ion-content>
