<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Personnaliser la visite</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>  Sélectionner un Atelier </h4>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Salle TD4</ion-card-subtitle>
          <ion-card-title>Atelier 1 : Intelligence artificielle</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          Description : L’intelligence artificielle est un ensemble des théories
          et des techniques développant des programmes informatiques simulant
          certains traits de l'intelligence humaine. Dans cette atelier vous aurez
          l’opportunité de voir les différents projets réalisés par les étudiants
          des différents niveaux sur l’intelligence artificielle.
        </ion-card-content>

        <ion-button>Ajouter à la visite</ion-button>
        <br><br>
      </ion-card>
    </ion-slide>
    <ion-slide>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Salle C03</ion-card-subtitle>
          <ion-card-title>Atelier 2 : La vie assosiative</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          Description : La vie associative est un volet important dans la vie
          estudiantine, elle est là pour enrichir et compléter la formation des
          ingenieurs de demain. Dans cette atelier les associations de l’ENSIM
          seront présentes pour vous présenter leurs activités, et leurs travaux réalisés.
          <br><br>
        </ion-card-content>

        <ion-button>Ajouter à la visite</ion-button>
        <br><br>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Salle TP4</ion-card-subtitle>
          <ion-card-title>Atelier 3 : Réalité virtuelle</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          Description : Réalité virtuelle technique simulant un environnement en trois dimensions
          à l'aide d'un ordinateur ; le monde ainsi créé. Dans cet atelier, les travaux réalisés par
          les étudiants de l’ENSIM en réalité virtuelle vont vous être exposés. Vous pouvez même en
          essayer quelques uns.
          <br><br><br>
        </ion-card-content>

        <ion-button>Ajouter à la visite</ion-button>
        <br><br>
      </ion-card>
    </ion-slide>

  </ion-slides>

  <h4>  Ma visite </h4>
  <div class="maVisite">
    <ion-card>
  <div class="contenu-card">
      <ion-button size="small" color="success" slot="end"  class="button-supprimer" >
          Supprimer
      </ion-button>
        <p class="Atelier-title">Atelier 1</p>
        <p class="Atelier-emplacem">1er étage</p>
        <p class="Atelier-descrip">Présentation des projets de réalité virtuelle</p>

  </div>
    </ion-card>
      <ion-card>
  <div class="contenu-card">
    <ion-button size="small" color="success" slot="end"  class="button-supprimer" >
      Supprimer
    </ion-button>
    <p class="Atelier-title">Atelier 2</p>
    <p class="Atelier-emplacem">Rez-de-chaussée</p>
    <p class="Atelier-descrip">Présentation de l’école et du protocole d’admission</p>

  </div>
      </ion-card>
    <ion-card>
  <div class="contenu-card">
    <ion-button size="small" color="success" slot="end"  class="button-supprimer" >
      Supprimer
    </ion-button>
    <p class="Atelier-title">Atelier 4</p>
    <p class="Atelier-emplacem">1er étage</p>
    <p class="Atelier-descrip">Présentation des projets de deuxième année</p>

  </div>
    </ion-card>
  </div>


  <br><br><br>
  <div id="Valider_personnaliser_visite">
  <ion-button  [routerLink]="['/choix-guide']">Valider</ion-button>
  </div>
</ion-content>
