<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot ="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div>
      <strong>Accédez à votre itinéraire : </strong>
      <ion-button color = "primary"[routerLink]="['/mon-itineraire']">Ici</ion-button>
    </div>

    <div>
      <strong>Personnalisez votre visite : </strong>
      <ion-button color = "primary"[routerLink]="['/personnaliser-visite']">Ici</ion-button>
    </div>

    <div>
      <strong>Obtenez des renseignements : </strong>
      <ion-button color = "primary"[routerLink]="['/renseignement']">Ici</ion-button>
    </div>

    <div>
      <strong>Repérez-vous : </strong>
      <ion-button color = "primary"[routerLink]="['/se-reperer']">Ici</ion-button>
    </div>

    <div>
      <strong>Validez votre visite : </strong>
      <ion-button color = "primary"[routerLink]="['/valider-visite']">Ici</ion-button>
    </div>

    <div>
      <strong>Faq : </strong>
      <ion-button color = "primary"[routerLink]="['/faq']">Ici</ion-button>
    </div>
    <div>
      <strong>Choisissez le guide : </strong>
      <ion-button color = "primary"[routerLink]="['/choix-guide']">Ici</ion-button>
    </div>
    <div>
      <strong>Accéder au menu de base : </strong>
      <ion-button color = "primary"[routerLink]="['/burger-menu']">Ici</ion-button>
    </div>

  </div>




</ion-content>
