body {
    background: #E5E5E5;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

ion-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.sc-ion-buttons-md-s .titre-page,
.sc-ion-buttons-md-h .titre-page,
.md .titre-page {
    padding: 0;
}

.hidden {
    display: none !important;
}

#container {
    padding: 10%;
}

ion-card.card {
    padding: 10px;
}