<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title class="titre-page">Se repérer dans l'école</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h1>Mon itinéraire</h1>
    
    <ion-card *ngFor="let card of listCards">
      <ion-card-header>
        <ion-card-title>{{card.titre}}</ion-card-title>
        <ion-card-subtitle>{{card.sous_titre}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <div class="card-content">
            <p>{{card.description}}</p>
            <ion-buttons class="buttons">
              <ion-button class="visite" *ngIf="card.visite == true">Visité</ion-button>
              <ion-button class="visite" *ngIf="card.visite == false">A visiter</ion-button>
              <ion-button [className]="card.visite == true ? 'hidden' : ''" class="terminer">Terminer</ion-button>
            </ion-buttons>
          </div>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button>Valider</ion-button>
  </div>
</ion-content>
