<ion-header>
  <ion-toolbar>
    <ion-title>Se repérer dans l'école</ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h1>Mon itinéraire</h1>
    <ion-card>
      <ion-card-header>
        <ion-card-title>TD1 Réamix</ion-card-title>
        <ion-card-subtitle>1er étage</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label>Présentation des projets de réalité virtuelle</ion-label>
          <ion-button>Visité</ion-button>
          <ion-button style="display: none;">Terminer</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>C03 Présentation de l'école</ion-card-title>
        <ion-card-subtitle>Rez-de-chaussée</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label>Présentation de l'école et du protocole d'admission</ion-label>
          <ion-button>A visiter</ion-button>
          <ion-button>Terminer</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>TD4 Projet 2A</ion-card-title>
        <ion-card-subtitle>1er étage</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label>Présentation des projets de deuxième année</ion-label>
          <ion-button>A visiter</ion-button>
          <ion-button>Terminer</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button>Valider</ion-button>
  </div>
</ion-content>
