<ion-header>
  <ion-toolbar>
    <ion-title>FAQ</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let cat of listCate;">
    <ion-card-title>{{cat.categorie}}<br/><br/></ion-card-title>
    <div *ngFor="let infos of listInfo;">
      <div *ngIf="infos.categorie == cat.categorie">
        <ion-card-subtitle>{{infos.question}}</ion-card-subtitle>
        <ion-text>{{infos.reponse}}</ion-text><br/><br/> 
      </div>
    </div>
  </ion-card>
  
</ion-content>
