<ion-header>
  <ion-toolbar>
    <ion-title class="titre-page">FAQ</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card" *ngFor="let cat of listCate;">
    <ion-card-title>{{cat.categorie}}<br/><br/></ion-card-title>
    <div *ngFor="let infos of listInfo;">
      <div *ngIf="infos.categorie == cat.categorie">
        <ion-text><b>{{infos.question}}</b><br/>{{infos.reponse}}</ion-text><br/><br/> 
      </div>
    </div>
  </ion-card>
  
</ion-content>
