<body>
  <ion-app>
    <ion-menu side="start" content-id="main-content">
      <ion-header>
        <ion-toolbar translucent>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-icon name="clipboard" slot="start"></ion-icon>
            <ion-label [routerLink]="['/personnaliser-visite']">Organiser ma visite</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="book" slot="start"></ion-icon>
            <ion-label [routerLink]="['/renseignement']">Renseignements</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="compass" slot="start"></ion-icon>
            <ion-label [routerLink]="['/se-reperer']">Me repérer</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="chatbubbles" slot="start"></ion-icon>
            <ion-label [routerLink]="['/faq']" >FAQ</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title class="titre-page">BIENVENUE</ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
  </ion-app>

  <script>
    async function openMenu() {
      await menuController.open();
    }
  </script>
</body>
