<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button></ion-back-button>
            <ion-title class="titre-page">Renseignement</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card (click)="expandItem(info)" *ngFor="let info of infos">
        <ion-card-header>
            <ion-card-title>{{ info.title }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <app-expandable expandHeight="100px" [expanded]="info.expanded" *ngFor="let elmt of info.list">
                <p>
                    {{elmt}}
                </p>
            </app-expandable>
        </ion-card-content>
    </ion-card>
</ion-content>
