<ion-header>
  <ion-toolbar>
    <ion-title>renseignement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-side-menu side="left">
    <ion-content class="has-expanded-header">
      <ion-list>
        <ion-item nav-clear menu-close class="item-icon-left" ui-sref="main.dashboard">
          <i class="icon ion-ios-speedometer"> </i>
          Dashboard
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left item-icon-right" ui-sref="main.accounts">
          <i class="icon ion-accounts ion-ios-arrow-right"> </i>
          Accounts
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" ui-sref="main.accounts">
          <i class="icon ion-accounts"> </i>
          sub Accounts 1
        </ion-item>
        <ion-item nav-clear menu-close class="item-icon-left" ui-sref="main.accounts">
          <i class="icon ion-accounts"> </i>
          sub Accounts 2
        </ion-item>
      </ion-list>
    </ion-content>
    </ion-side-menus>
</ion-content>
