body {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}

#container {
    padding: 10%;
}

.ion-button {
    float : center;
   
}

