<ion-header>
  <ion-toolbar>
    <ion-title class="titre-page">Choix de guide</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
  <ion-item>
    <ion-label>Sélectionnez :</ion-label>
    <ion-select interface="popover" placeholder="Professeur" #Selection>
      <ion-select-option value="prof">Professeur</ion-select-option>
      <ion-select-option value="etud">Etudiant</ion-select-option>
      <ion-select-option value="virtual">Virtuel</ion-select-option>
    </ion-select>
  </ion-item>

<ion-button id="button-container" [routerLink]="['/valider-visite/',Selection.value]">VALIDER LE GUIDE</ion-button>
</div>
</ion-content>
