<ion-header>
  <ion-toolbar>
    <ion-title>Choix de guide</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-item>
    <ion-label>Sélectionnez un guide :</ion-label>
    <ion-select value="Professeur">
      <ion-select-option value="prof">Professeur</ion-select-option>
      <ion-select-option value="etud">Etudiant</ion-select-option>
      <ion-select-option value="virtual">Virtuel</ion-select-option>
    </ion-select>
  </ion-item>
</ion-card>

<ion-button [routerLink]="['/valider-visite/']">Valider</ion-button>

</ion-content>
