<ion-header>
  <ion-toolbar>
    <ion-title>Validation de la visite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
      <section>
        <h2>Le temps estimé de votre visite est</h2>
        <h3>1 heure</h3>
      </section>

      <section>
        <h2>Votre guide</h2>

        <ion-card>
            <ion-card-title>Un élève</ion-card-title>
            <ion-item>
              <ion-icon>
                <img src="toto" alt="Image du guide">
              </ion-icon>
              <p>Théo Guidon</p>
              <p>4A Info</p>
            </ion-item>
        </ion-card>
      </section>

      <ion-button>Valider ma visite</ion-button>
      <ion-button>Annuler la visite</ion-button>
  </div>
</ion-content>
