<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title class="titre-page">Validation de la visite</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
      <section>
        <h2>Le temps estimé de votre visite est</h2>
        <h3 class="temps">1 heure</h3>
      </section>

      <section>
        <h2>Votre guide</h2>

        <ion-card class="guide">
            <ion-card-title class="titre-guide">Un élève</ion-card-title>
            <ion-item class="contenu-guide">
              <img src="../../assets/photo.png" alt="Image du guide" class="img-guide">
              <div class="card-texte">
                <p>Théo Guidon</p>
                <p>4A Info</p>
              </div>
            </ion-item>
        </ion-card>
      </section>

      <ion-button class="button-custom">Valider ma visite</ion-button>
      <ion-button class="button-custom">Annuler la visite</ion-button>
  </div>
</ion-content>
